a.thumbnail > img {
    height: 200px;
    width: 200px;
}

.page-header{
    text-align: center;
}

body{
    margin-bottom: 126px;
    background-image: url(../images/treasure.jpg)
}

h1{
    color: white;
}